<nav class="navbar navbar-dark bg-dark navbar-expand-md">
  <!--Logotipo y Marca-->
  <a class="navbar-brand" href="#">
    <img src="../assets/logo30x30.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    {{titulo}}
  </a>
  <!--Menu-->
  <div class="navbar-nav"></div>
  <!--Menu colapsable-->
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="!isCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav" *ngIf="!identidad">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa [name]="'rocket'">
          </fa>
              Público1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <fa [name]="'flash'">
          </fa>
          Público2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">
          <fa [name]="'bomb'">
          </fa>
          Público3
        </a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="identidad">
      <li class="nav-item dropdown pointer" ngbDropdown #privado1="ngbDropdown">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle> Privado1</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/privado1']" routerLinkActive="active">Apartado A</a>
          <a class="dropdown-item" href="#">Apartado B</a>
          <a class="dropdown-item" href="#">Apartado C</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"> Privado2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"> Privado3</a>
      </li>
    </ul>
    <div class="navbar-nav ml-auto" *ngIf="!identidad">
      <a class="btn btn-success mb-2 mb-md-0  mr-md-2" [routerLink]="['/acceso']" routerLinkActive="active">
        <fa [name]="'sign-in'">
        </fa>
        Acceso
      </a>
      <a class="btn btn-success" [routerLink]="['/registro']" routerLinkActive="active">
        <fa [name]="'user-plus'">
        </fa>
        Registro
      </a>
    </div>

    <ul class="navbar-nav ml-auto" *ngIf="identidad">
      <li class="avatar">
        <!--Cargar imagen de usuario o imagen por defecto-->
      </li>

      <li class="nav-item dropdown pointer" ngbDropdown #menuUsuario="ngbDropdown" placement="bottom-right">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle> {{identidad.nombre + ' ' + identidad.apellidos}}</a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/usuario']" routerLinkActive="active">
            <fa [name] = "'cog'"></fa>
            Mi Perfil</a>
          <a class="dropdown-item" (click)="cerrarSesion()"><fa [name]="'sign-out'">
          </fa> Cerrar Sesión</a>
        </div>
      </li>

    </ul>


  </div>
</nav>
<router-outlet></router-outlet>
