<ngb-carousel *ngIf="imagenes">
  <ng-template ngbSlide>
    <img [src]="imagenes[0]" alt="Primera diapositiva" class="img-fluid">
    <div class="carousel-caption">
      <h3>Todo proyecto comienza con un boceto</h3>
      <p>La fotografía utilizada tiene unas dimesiones de 2000x400px..</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="imagenes[1]" alt="Segunda diapositiva" class="img-fluid">
    <div class="carousel-caption">
      <h3>Sustituye las fotografias </h3>
      <p>Están en la carpeta /cliente/assets.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="imagenes[2]" alt="Tercera diapositiva" class="img-fluid">
    <div class="carousel-caption">
      <h3>Adapta los tamaños de las imagenes</h3>
      <p>Analiza las estadísticas de tamañosde pantalla de tus usuarios.</p>
    </div>
  </ng-template>
</ngb-carousel>
